.loading-register{
    background-color: #3333338f;
    z-index: 1600 !important;
}

.loading-register .spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.loading-register .spinner>div {
    margin: 0 2px;
    background-color: #20e920;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out, 
    change-color 1.2s infinite alternate ease-in-out;
}

@keyframes change-color{
    100%{
        background-color: #fff;
    }
}

.loading-register .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s, 0s;
}

.loading-register .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s, 0s;
}

.loading-register .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s, 0s;
}

.loading-register .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s, 0s;
}

@-webkit-keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}