*::selection{
  background-color: #2DB82D !important;
  color: #fff !important;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* START CUSTOM CLASSES */

.bg-green{
  background-color: #2DB82D;
}

.text-green{
  color: #2DB82D;
}

.w-fit {
  width: fit-content !important;
}

.xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register,
.login,
.home,
.product-details,
.categories,
.cart, 
.products, 
.brands, 
.productsBy, 
.not-found, 
.reset,
.wishlist{
  margin-top: 3.3rem;
}

@media(max-width : 501px) {

  .register,
  .login,
  .home,
  .product-details,
  .categories,
  .cart, 
  .products, 
  .brands, 
  .productsBy,
  .not-found, 
  .reset,
  .wishlist{
    margin-top: 6.1rem;
  }
}

/* END CUSTOM CLASSES */